@tailwind base;
@tailwind components;
@tailwind utilities;

nav button {
    font-weight: 500;
    text-transform: uppercase;
}

body {
    font-family: sans-serif;
}

.home,
.service,
.skill,
.service {
    font-family: 'Roboto', sans-serif;
}

.socials button {
    border: 2px solid #e7e5e1;
    padding: 10px;
    border-radius: 100%;
}

.socials button:hover {
    background-color: #e7e5e1;
    color: #252734;
    transition: all 0.3s ease-in-out;
}

.swiped:hover {
    .box1 {
        opacity: 1;
        transition: all 2s ease-in-out;
    }

    .box2 {
        opacity: 1;
        transition: all 2s ease-in-out;
    }
}

.box1 {
    position: absolute;
    top: 0px;
    left: 74%;
    width: 20%;
    height: 25%;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    transform: rotate(150deg);
    border: 1px solid rgba(255, 255, 255, .05);
    border-left: 0;
    opacity: 0;
}

.box1::before {
    left: -14%;
    top: 20px;
    position: absolute;
    content: "";
    width: 60%;
    height: 70%;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-left: 0;
}

.box1::after {
    left: -10%;
    top: 8px;
    position: absolute;
    content: "";
    width: 80%;
    height: 90%;
    border-top-right-radius: 450px;
    border-bottom-right-radius: 450px;
    border: 1px solid rgba(255, 255, 255, 0.086);
    border-left: 0;
}

.box2 {
    position: absolute;
    bottom: 0%;
    left: 6%;
    width: 26%;
    height: 26%;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    transform: rotate(-60deg);
    border: 1px solid rgba(255, 255, 255, .05);
    border-left: 0;
    opacity: 0;
}

.box2::before {
    left: 1%;
    bottom: 20px;
    position: absolute;
    content: "";
    width: 60%;
    height: 70%;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-left: 0;
}

.box2::after {
    left: 0;
    top: 4px;
    position: absolute;
    content: "";
    width: 80%;
    height: 90%;
    border-top-right-radius: 450px;
    border-bottom-right-radius: 450px;
    border: 1px solid rgba(255, 255, 255, 0.086);
    border-left: 0;
}

.swiper-pagination-bullet {
    background-color: white;
    position: relative;
    margin-top: 200px;
}

header ul li {
    border-bottom: solid white 1px;
}

.skill p {
    background-color: #252734;
    padding: 70px 0px;
    transition: all 1s ease;
    cursor: pointer;
}

.skill p:hover {
    box-shadow: -4px -4px 2px #e7e5e1;
}

@media screen and (min-width:768px) {
    header ul li {
        border-bottom: none;
    }

    nav ul button:hover {
        border-bottom: 3px solid #b1b493;
    }
}